@import "tailwindcss";

@theme {
  --color-primary: #000;
  --color-secondary: #44566C;
  --color-third: #E3E3E3;
  --color-bg-secondary: #F3F6F6;
  --color-bg-third: #F8FBFB;
  --color-bg-fourth: #EDF2F2;
  
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto-slab: 'Roboto Slab', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  background-image: url('/img/bg.jpg');
  background-repeat: round;
}

/* Custom scrollbar */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--color-secondary);
}


/* PDF Mode Styles */
.pdf-mode .experience-timeline-desktop,
.pdf-mode .workhistory-timeline-desktop,
.pdf-mode .experience-mobile,
.pdf-mode .workhistory-mobile {
  display: none !important;
}

.pdf-mode .experience-simple,
.pdf-mode .workhistory-simple {
  display: flex !important;
}

.pdf-mode .timeline-line-vertical {
  display: none !important;
}
